<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="~{fragments/parts::head}"></head>
    <body>
        <script th:inline="javascript">
			/*<![CDATA[*/
			var allPointsString = JSON.parse(/*[[${allPoints}]]*/ "no pints");
			/*]]>*/
        </script>
        <div class="container">
            <!--*** Header ***-->
            <div th:replace="~{fragments/parts::header}"></div>
            <!--*** Map ***-->
            <div id="map" class="mb-3"></div>

            <form th:object="${pointAtrBindingModel}" method="post" th:action="@{/points/create-new}">
                <div class="row">
                    <div class="col-lg-4 form-group input-group-append">
                        <input id="latInfoInput" class="form-control">
                        <input id="lngInfoInput" class="form-control">
                        <div class="btn btn-primary" onclick="initMap();">&#9755;</div>
                    </div>
                </div>
				<div th:if="${#fields.hasAnyErrors()}">
					<h3><p class="errorRed">Имате грешка, плъзнете надолу да я поправите!</p></h3>
				</div>
                <div id="form" th:styleappend="${#fields.hasErrors()}? 'display: block;' : 'display: none;'">
                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <div class="card border-primary">
                                <legend class="card-header">Обект</legend>
                                <div class="col-sm-8">
                                    <label class="col-form-label" for="pointName">Име</label>
                                    <span style="color: red; font-weight: bold">&nbsp*</span>
                                    <input th:field="*{name}" type="text" class="form-control" placeholder="Име на обекта..." id="pointName">
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label class="col-form-label" for="pointID">ID</label>
                                    <span style="color: red; font-weight: bold">&nbsp*</span>
                                    <input th:field="*{identifier}" type="text" class="form-control" placeholder="ID на обекта..." id="pointID">
                                </div>
                                <div class="form-group col-sm-12">
                                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;">Name Error</div>
                                    <div th:if="${#fields.hasErrors('identifier')}" th:errors="*{identifier}" style="color:red;">Identifier Error</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="card border-primary">
                                <legend class="card-header">Адрес</legend>
                                <div class="col-sm-5">
                                    <label class="col-form-label">Населено място</label>
                                    <select th:field="*{addressPlaceId}" class="custom-select">
                                        <option th:each="p : ${places}" 
                                                th:value="${p.id}"
                                                th:text="${p.name}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-12 input-group-append">
                                    <div class="col-7">
                                        <label class="col-form-label" for="street">Улица</label>
                                        <input th:field="*{addressStreetName}" type="text" class="form-control" placeholder="..." id="street">
                                    </div>
                                    <div>
                                        <label class="col-form-label" for="num">№</label>
                                        <input th:field="*{addressNumber}" type="text" class="form-control" placeholder="..." id="num">
                                    </div>
                                    <div>
                                        <label class="col-form-label" for="entrance">Вх.</label>
                                        <input th:field="*{addressEntrance}" type="text" class="form-control" placeholder="..." id="entrance">
                                    </div>
                                    <div>
                                        <label class="col-form-label" for="floor">Ет.</label>
                                        <input th:field="*{addressFloor}" type="text" class="form-control" placeholder="..." id="floor">
                                    </div>
                                    <div>
                                        <label class="col-form-label" for="apartment">Ап.</label>
                                        <input th:field="*{addressApartment}" type="text" class="form-control" placeholder="..." id="apartment">
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div th:if="${#fields.hasErrors('addressStreetName')}" th:errors="*{addressStreetName}" style="color:red;">Street Error</div>
                                    <div th:if="${#fields.hasErrors('addressNumber')}" th:errors="*{addressNumber}" style="color:red;">Number Error</div>
                                    <div th:if="${#fields.hasErrors('addressEntrance')}" th:errors="*{addressEntrance}" style="color:red;">Entrance Error</div>
                                    <div th:if="${#fields.hasErrors('addressFloor')}" th:errors="*{addressFloor}" style="color:red;">Floor Error</div>
                                    <div th:if="${#fields.hasErrors('addressApartment')}" th:errors="*{addressApartment}" style="color:red;">Apartment Error</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="card border-primary">
                                <legend class="card-header">Сот / Видео / Пакет</legend>
                                <div class="form-group col-sm-12 input-group-append">
                                    <div class="col-sm-6">
                                        <fieldset>
                                            <h4>Пакет</h4>
                                            <div class="form-group">
                                                <div th:each="sS : ${T(org.sot.enums.SseStatus).values()}" class="custom-control custom-radio">
                                                    <input type="radio"
                                                           th:id="${{sS}}" 
                                                           th:value="${{sS}}"
                                                           th:checked="${{sS}}=='FREE'?'checked'"															   
                                                           class="custom-control-input"
                                                           name="sseStatus"/>
                                                    <label th:for="${{sS}}"
                                                           th:text="${{sS}}=='FREE' ? 'Безплатен':'Платен'"
                                                           class="custom-control-label">
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-sm-6">
                                        <fieldset>
                                            <h4>Сот/Видео</h4>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           th:checked="checked"
                                                           name="hasSot"
                                                           class="custom-control-input" id="sot">
                                                    <label class="custom-control-label" for="sot">Сот</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           name="hasVideo"
                                                           class="custom-control-input" id="video">
                                                    <label class="custom-control-label" for="video">Видео</label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-lg-8 form-group">
                            <div class="card border-primary">
                                <legend class="card-header">Фирма на собственика</legend>
                                <button type="button" id="add-company" class="btn-lg btn-outline-primary">&#43</button>
                                <div id="form-company" class="row">
                                    <div class="form-group col-sm-6 ">
                                        <div class="col">
                                            <label class="col-form-label" for="bulstat">Булстат</label>
                                            <input th:field="*{companyBulstat}" type="text" id="bulstat" class="form-control mb-3" placeholder="Посочи булстат...">
                                            <div th:if="${#fields.hasErrors('companyBulstat')}" th:errors="*{companyBulstat}" th:errorclass="errorRed" th:classappend="company">Bulstat Error</div>
                                            <fieldset class="mb-3">
                                                <h4>МОЛ</h4>
                                                <label class="col-form-label">Име</label>
                                                <input th:field="*{companyMrpFirstName}" type="text" class="form-control">
                                                <label class="col-form-label">Презиме</label>
                                                <input th:field="*{companyMrpMiddleName}" type="text" class="form-control">
                                                <label class="col-form-label">Фамилия</label>
                                                <input th:field="*{companyMrpLastName}" type="text" class="form-control">
                                            </fieldset>
                                            <fieldset>
                                                <h4>Адрес на фирмата</h4>
                                                <label class="col-form-label" for="inputDefault">Населено място</label>
                                                <select th:field="*{companyAddressPlaceId}" class="custom-select">
                                                    <option th:each="p : ${places}" 
                                                            th:value="${p.id}"
                                                            th:text="${p.name}">
                                                    </option>
                                                </select>
                                                <div class="form-group col-sm-12 input-group-append">
                                                    <div class="col-7">
                                                        <label class="col-form-label" for="street">Улица</label>
                                                        <input  th:field="*{companyAddressStreetName}" type="text" class="form-control" placeholder="..." id="street">
                                                    </div>
                                                    <div>
                                                        <label class="col-form-label" for="num">№</label>
                                                        <input th:field="*{companyAddressNumber}" type="text" class="form-control" placeholder="..." id="num">
                                                    </div>
                                                    <div>
                                                        <label class="col-form-label" for="entrance">Вх.</label>
                                                        <input th:field="*{companyAddressEntrance}" type="text" class="form-control" placeholder="..." id="entrance">
                                                    </div>
                                                    <div>
                                                        <label class="col-form-label" for="floor">Ет.</label>
                                                        <input th:field="*{companyAddressFloor}" type="text" class="form-control" placeholder="..." id="floor">
                                                    </div>
                                                    <div>
                                                        <label class="col-form-label" for="floor">Еп.</label>
                                                        <input th:field="*{companyAddressApartment}" type="text" class="form-control" placeholder="..." id="compApartment">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 ">
                                        <div class="col">
                                            <fieldset class="mb-3">
                                                <h4>Получател</h4>
                                                <label class="col-form-label">Име</label>
                                                <input th:field="*{companyRecipientFirstName}" type="text" class="form-control">
                                                <label class="col-form-label">Презиме</label>
                                                <input th:field="*{companyRecipientMiddleName}" type="text" class="form-control">
                                                <label class="col-form-label">Фамилия</label>
                                                <input th:field="*{companyRecipientLastName}" type="text" class="form-control">
                                            </fieldset>
                                            <fieldset>
                                                <h4>ДДС Статус</h4>
                                                <div class="form-group">
                                                    <div id="vat">
														<div th:each="vS : ${T(org.sot.enums.VatStatus).values()}" class="custom-control custom-radio">
															<input type="radio"
																   th:id="${{vS}}" 
																   th:value="${{vS}}"
																   th:checked="${{vS}}=='YES'?'checked'"															   
																   class="custom-control-input"
																   name="companyVatStatus"/>
															<label th:for="${{vS}}"
																   th:text="${{vS}}=='NO' ? 'Не':'Да'"
																   class="custom-control-label">
															</label>
														</div>
                                                    </div>
                                                    <label class="col-form-label">ДДС номер</label>
                                                    <input th:field="*{companyVatCode}" type="text" class="form-control" id="vatCode">
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div id="responsible-person" class="card border-primary">
                                <legend class="card-header">Отговорници на обекта</legend>
                                <button type="button" id="add-responsible" class="btn-lg btn-outline-primary">&#43;</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Запази</button>
                        </div>
                    </div>
                    <input type="hidden" id="lat" th:field="*{lat}">
                    <input type="hidden" id="lng" th:field="*{lng}">
                </div>
            </form>

        </div>
        <script>
			var marker;
			var map;
			var latHidden = document.getElementById("lat");
			var lngHidden = document.getElementById("lng");
			var latInfo = document.getElementById("latInfoInput");
			var lngInfo = document.getElementById("lngInfoInput");
			var iconBase = '/images/';
			var icons = {
				def: iconBase + "pinDefault.png",
				cur: iconBase + "pinCurrent.png"
			};
			function initMap() {
				var latS = (latInfo.value !== "") ? latInfo.value : 41.5629455;
				var lngS = (lngInfo.value !== "") ? lngInfo.value : 23.2725755;

				map = new google.maps.Map(document.getElementById('map'), {
					center: new google.maps.LatLng(latS, lngS),
					zoom: 15,
					styles: [
						{"featureType": "all",
							"elementType": "labels",
							"stylers": [
								{"visibility": "off"}
							]
						},
						{"featureType": "administrative",
							"elementType": "all",
							"stylers": [
								{"visibility": "simplified"},
								{"color": "#5b6571"},
								{"lightness": "35"}]
						},
						{"featureType": "road",
							"elementType": "labels",
							"stylers": [{"visibility": "on"}]},
					]
				});
				allPointsString.point.forEach(function (element) {
					var marker = new google.maps.Marker({
						map: map,
						title: element.name,
						position: new google.maps.LatLng(element.lat, element.lng),
						label: {
							text: element.name.substr(0, 1),
							color: 'white',
							fontFamily: 'Verdana',
							fontWeight: 'bold'},
						icon: {
							url: icons.def,
							labelOrigin: new google.maps.Point(30, 14)
						},

						animation: google.maps.Animation.DROP,
						id: element.id
					});
				});

				google.maps.event.addListener(map, 'click', function (event) {
					if (typeof marker !== "undefined") {
						marker.setMap(null);
						marker = null;
						fillLatLngHidden(event.latLng);
						fillLatLngInfo(event.latLng);
					}
					marker = new google.maps.Marker({
						map: map,
						icon: icons.cur,
						draggable: true,
						position: event.latLng
					});

					google.maps.event.addListener(marker, "click", function (event) {
						document.getElementById("form").style.display = "block";
						fillLatLngHidden(event.latLng);
						fillLatLngInfo(event.latLng);
					});

					google.maps.event.addListener(marker, "drag", function (event) {
						fillLatLngHidden(event.latLng);
						fillLatLngInfo(event.latLng);
					});
				});
			}

			function fillLatLngHidden(latLng) {
				latHidden.value = latLng.lat();
				lngHidden.value = latLng.lng();
			}

			function fillLatLngInfo(latLng) {
				latInfo.value = latLng.lat();
				lngInfo.value = latLng.lng();
			}

			let countResponsible = 0;
			$(document).ready(function () {
				$('#vat').change(function () {
					var v = $("input[name='vatStatus']:checked").val();
					if (v === "YES") {
						$("input[id='vatCode']").prop("disabled", false);
					} else if (v === "NO") {
						$("input[id='vatCode']").prop("disabled", true).val("");
					}
				});
				$("#form-company").hide();
				if ($(".errorRed .company").length) {
					$("#form-company").show("slow");
				} else {
					$("#form-company").hide("slow");
				}

				$("#add-company").click(function () {
					if ($("#add-company").html() === "+") {
						$("#add-company").html("&#8722");
						$("#form-company").show("slow");
					} else {
						$("#add-company").html("&#43");
						$("#form-company").hide("slow");
					}
				});
				$('#add-responsible').click(function () {
					if (countResponsible < 2) {
						$('#responsible-person').append(
								"<fieldset class=\"col-sm-12 mb-3\">"
								+ "<div class=\"alert-dismissible\">"
								+ "<button type=\"button\" class=\"close\">&times;</button>"
								+ "<h4><span>" + countResponsible + "</span>. Отговорник</h4>"
								+ "</div>"
								+ "<label class=\"col-form-label\">Име</label>"
								+ "<input name='responsiblePersons[" + countResponsible + "].firstName' type=\"text\" class=\"form-control\">"
								+ "<label class=\"col-form-label\">Презиме</label>"
								+ "<input name='responsiblePersons[" + countResponsible + "].middleName' type=\"text\" class=\"form-control\">"
								+ "<label class=\"col-form-label\">Фамилия</label>"
								+ "<input name='responsiblePersons[" + countResponsible + "].lastName' type=\"text\" class=\"form-control\">"
								+ "<label class=\"col-form-label\">Тел:</label>"
								+ "<input  type=\"text\" class=\"form-control\">"
								+ "</fieldset>"
								);
					}
					$("button.close").click(function () {
						$(this).parent().parent().remove();
						countResponsible--;
					});
					countResponsible++;
				});

			});
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC46e-kbgkWJWSVadj7q-K8LwVbc2Hp8hc&callback=initMap"></script>
    </body>
</html>
