<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="~{fragments/parts::head}"></head>
    <script th:inline="javascript">
		/*<![CDATA[*/
		var pointId = JSON.parse(/*[[${point.id}]]*/ "no pints");
		/*]]>*/
                
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		var components = {"pointId": pointId, "sensors": [], "controlBoardsId": []};
		
		$(document).ready(function () {
			$("#sensorTypes").change(function () {
				$("#brands").val($("#brands option:first").val());
				$("#sensorModels").empty();
				$("#count").val($("#count option:first").val());
			});

			$("#brands").change(function () {
				var sensorType = $("#sensorTypes option:selected").val();
				var brandId = $("#brands option:selected").val();
				var dataTosend = {"sensorType": sensorType, "brandId": brandId};
				$.ajax({
					method: "POST",
					url: context + "/api/components-add/",
					contentType: 'application/json; charset=utf-8',
					dataType: 'json',
					data: JSON.stringify(dataTosend),
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					success: function (data, textStatus, xhr) {
						$("#sensorModels").empty();
						$.each(data, function (i, item) {
							$("#sensorModels").append($('<option />').text(item.model).val(item.id));
						});
					}
				});
			});

			$("#addData").click(function () {
				var brand = $("#brands option:selected").text();
				var sensorModel = $("#sensorModels option:selected").text();
				var sensorId = $("#sensorModels option:selected").val();
				var count = $("#count option:selected").val();

				if ($("#brands option:selected").val() === "")
					return;
				if ($("#sensorModels option").length == 0)
					return;
				var oldLength = components.sensors.length;
				var newLength = addSensorToArrayIfNotPresent(sensorId, count);

				if (oldLength < newLength) {
					createLiInfo(brand, sensorModel, sensorId, count);
				}
			});

			$("#sendData").click(function () {
				alert(JSON.stringify(components));
				$.ajax({
					method: "POST",
					url: baseURI + "/components-add/",
					contentType: 'application/json; charset=utf-8',
					dataType: 'json',
					data: JSON.stringify(components),
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					success: function (data, textStatus, xhr) {
					},
					error: function (jqXHR) {
						alert(JSON.stringify(jqXHR));
					}
				});
			});
		});
    </script>
    <body>
        <div class="container">
            <div th:replace="~{fragments/parts::header}"></div>
            <div class="row mb-3">
                <!--Информационна карта за обекта-->
                <div class="col-lg-4 mb-3">
                    <div class="card mb-3">
                        <h3 class="card-header" th:text="${point.name}">Card header</h3>
                        <div class="card-body">
                            <h5 class="card-title">ID</h5>
                            <h6 class="card-subtitle text-muted" th:text="${point.identifier}"></h6>
                        </div>
                    </div>
					<!--Start-->
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link show active" data-toggle="tab" href="#nav-sensor">Датчик</a>
						</li>
						<li class="nav-item">
							<a class="nav-link show" data-toggle="tab" href="#nav-controlboard">Контролна платка</a>
						</li>
						<li class="nav-item">
							<a class="nav-link show" data-toggle="tab" href="#nav-transmiter">Предавател</a>
						</li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade show active" id="nav-sensor">
							<div class="card mb-3">
								<div class="card-body">
									<div class="form-group">
										<label class="col-form-label" >Вид</label>
										<select id="sensorTypes" class="custom-select">
											<option th:each="type : ${T(org.sot.enums.SensorType).getSortedValues()}"
													th:value="${type}"
													th:text="${type.getValue()}">
											</option>
										</select>
									</div>
									<div class="form-group">
										<label class="col-form-label" >Марка</label>
										<select id="brands" class="custom-select">
											<option value="" selected disabled>Изберете марка...</option>
											<option th:each="b : ${brands}" 
													th:value="${b.id}"
													th:text="${b.name}">
											</option>
										</select>
									</div>
									<div class="form-group">
										<label  class="col-form-label" >Модел</label>
										<select id="sensorModels" class="custom-select">
										</select>
									</div>
									<div class="form-group">
										<label class="col-form-label" >Брой</label>
										<select id="count" class="custom-select">
											<option th:each="i : ${#numbers.sequence(1,20)}"
													th:value="${i}"
													th:text="${i}"
													th:selected="${i==1}">
											</option>
										</select>
									</div>
									<div class="list-group align-items-center">
										<div id="addData" class="btn btn-sm" data="">
											<img th:src="@{/images/add_blue_48px.png}">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="nav-controlboard">
							<div class="card mb-3">
								<div class="card-body">
									<p>Добавяне на контролна платка</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="nav-transmiter">
							<div class="card mb-3">
								<div class="card-body">
									<p>Добавяне на предаватели</p>
								</div>
							</div>
						</div>
					</div>
					<!--End-->
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="card mb-3">
                        <h3 class="card-header">Датчици</h3>
						<div class="form-group" style="max-height: 350px; overflow: auto;">
							<ul id="sensors" class="list-group">
							</ul>
						</div>
                    </div>
					<div class="card mb-3">
                        <h3 class="card-header">Предаватели</h3>
						<div class="form-group" style="max-height: 350px; overflow: auto;">
							<ul id="transmiters" class="list-group">
							</ul>
						</div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
					<div class="card mb-3">
                        <h3 class="card-header">Контролни платки</h3>
						<div class="form-group" style="max-height: 350px; overflow: auto;">
							<ul id="controlBoards" class="list-group">
							</ul>
						</div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-12 mb-3">
                    <a id="sendData" class="btn btn-success btn-lg btn-block" href="#" role="button">Добави</a>
                </div>
            </div>
        </div>
    </body>
</html>
