<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="~{fragments/parts::head}"></head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("li>div.btn.btn-sm.delete").click(function () {
                deleteElement('/control_board-delete', this);
            });

            $("ul.list-group a.col-sm-9").on("click", function () {
                let id = this.getAttribute("data");
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                $.ajax({
                    method: "GET",
                    url: context + '/board',
                    data: {id: id},
                    beforeSend: function (xhr) {
                        if (typeof header !== 'undefined' || typeof token !== 'undefined') {
                            xhr.setRequestHeader(header, token);
                        }
                    },
                    success: function (data, textStatus, xhr) {
                        $("#info").html(data);
                    }
//					error: function (jqXHR) {
//						alert(JSON.stringify(jqXHR));
//					}
                });
            })
        });
    </script>
    <body>
        <div class="container">
            <div th:replace="~{fragments/parts::header}"></div>
            <div class="row">
                <div class="col-lg-4">
                    <a class="btn btn-success btn-lg btn-block" th:href="@{/control_board-create}" role="button">Създай Контролна платка</a>
                    <th:block th:if="${not #lists.isEmpty(boards)}">
                        <legend>Налични контролни платки</legend>
                        <div style="height: 500px; overflow: auto;">
                            <ul class="list-group">
                                <li th:each="b : ${boards}"
                                    class="list-group-item d-flex justify-content-between align-items-center">
                                    <a th:text="${b.brand.name} +' | '+ ${b.model} + ' | ' + ${b.code}"
                                       class="col-sm-9"
                                       th:href="@{#}"
                                       th:data="${b.id}"></a>
                                    <a class="btn btn-sm" th:href="@{/control_board-update/} + ${b.id}">
                                        <img th:src="@{/images/edit_property_32px.png}">
                                    </a>
                                    <div class="btn btn-sm delete" th:data="${b.id}">
                                        <img th:src="@{/images/delete_28px.png}">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </th:block>
                </div>
                <div id="info" class="col-lg-4 form-group" ></div>
            </div>
        </div>
    </body>
</html>
