<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<title th:text="${title}"></title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel='stylesheet' id='google-fonts-css'  href='http://fonts.googleapis.com/css?family=Playfair+Display%7COpen+Sans+Condensed%3A300%7COpen+Sans%7CShadows+Into+Light%7CMuli%7CDroid+Sans%7CArbutus+Slab%7CAbel&#038;ver=3.5.1' type='text/css' media='all' />
		<link rel="stylesheet" media="all" th:href="@{/styles/bootstrap.css}">
		<link rel="stylesheet" media="all" th:href="@{/styles/main.css}">
		<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	</head>

	<body>
		<div class="container">
			<!--*** Header ***-->
			<div th:replace="~{fragments/header}"></div>

			<!--*** Map ***-->
			<div id="map"></div>

			<div class="row mb-3">
				<div class="col-lg-4">
					<a class="btn btn-success" href="/point-create" role="button">Създай нов обект</a>
					<a class="" th:href="@{/point-edit}">
						<img th:src="@{/images/edit_32.png}">
					</a>
				</div>
				<div class="col-lg-4">

				</div>
			</div>
			<!--*** Fomr ***-->
			<form>
				<div class="row" th:object="${pointRequestModel}">
					<div class="col-lg-4 form-group">
						<div class="card border-primary">
							<legend class="card-header">Обект</legend>
							<div class="col-sm-8">
								<label class="col-form-label" for="inputDefault">Име</label>
								<!--<input type="text" class="form-control" placeholder="Име на обекта" id="objName">-->
								<strong class="form-text" th:text="*{pointName}"></strong>
							</div>
							<div class="col-sm-4 mb-3">
								<label class="col-form-label" for="inputDefault">ID</label>
								<!--<input type="text" class="form-control" placeholder="ID на обекта" id="objName">-->
								<strong class="form-text" th:text="*{pointIdentifier}"></strong>
							</div>
						</div>
					</div>
					<div class="col-lg-4 form-group">
						<div class="card border-primary">
							<legend class="card-header">Контролна платка</legend>
							<div class="col-sm-5">
								<label class="col-form-label" for="inputDefault">Марка</label>
								<!--<input type="text" class="form-control" placeholder="Марка контр..." id="objName">-->
								<strong class="form-text" th:text="*{controlBoardBrand}"></strong>
							</div>
							<div class="form-group col-sm-5">
								<label class="col-form-label" for="inputDefault">Модел</label>
								<strong class="form-text" th:text="*{controlBoardModel}"></strong>
							</div>
						</div>
					</div>
					<div class="col-lg-4 form-group">
						<div class="card border-primary">
							<legend class="card-header">RIP Датчик</legend>
							<div class="col-sm-5">
								<label class="col-form-label" for="inputDefault">Марка датчик</label>
								<input type="text" class="form-control" placeholder="Марка датчик" id="objName">
							</div>
							<div class="form-group col-sm-5">
								<label class="col-form-label" for="inputDefault">Модел</label>
								<input type="text" class="form-control" placeholder="Модел датчик" id="objName">
							</div>
						</div>
					</div>
				</div>
				<!--				<div class="row">
									<div class="col-lg-4 form-group">
										<div class="card border-secondary">
											<legend class="card-header">Клавиатура</legend>
											<div class="form-group col-sm-8">
												<label class="col-form-label" for="inputDefault">Марка</label>
												<input type="text" class="form-control" placeholder="Марка клав..." id="objName">
											</div>
											<div class="form-group col-sm-4">
												<label class="col-form-label" for="inputDefault">Модел</label>
												<input type="text" class="form-control" placeholder="Модел клав..." id="objName">
											</div>
										</div>
									</div>
									<div class="col-lg-4 form-group">
										<div class="card border-secondary">
											<legend class="card-header">Предавател</legend>
											<div class="form-group col-sm-5">
												<label class="col-form-label" for="inputDefault">Марка</label>
												<input type="text" class="form-control" placeholder="Марка преда..." id="objName">
											</div>
											<div class="form-group col-sm-5">
												<label class="col-form-label" for="inputDefault">Модел</label>
												<input type="text" class="form-control" placeholder="Модел преда..." id="objName">
											</div>
										</div>
									</div>
									<div class="col-lg-4 form-group">
										<div class="card border-secondary">
											<legend class="card-header">Батерии</legend>
											<div class="form-group col-sm-5">
												<label class="col-form-label" for="inputDefault">Марка</label>
												<input type="text" class="form-control" placeholder="Марка батерии" id="objName">
											</div>
											<div class="form-group col-sm-5">
												<label class="col-form-label" for="inputDefault">Модел</label>
												<input type="text" class="form-control" placeholder="Модел батерии" id="objName">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4 form-group">
										<div class="card border">
											<legend class="card-header">Зони</legend>
											<div class="col-sm-8">
												<label class="col-form-label" for="inputDefault">Марка</label>
												<input type="text" class="form-control" placeholder="Марка зона" id="objName">
											</div>
											<div class="form-group col-sm-4">
												<label class="col-form-label" for="inputDefault">Модел</label>
												<input type="text" class="form-control" placeholder="Модел зона" id="objName">
											</div>
										</div>
									</div>
									<div class="col-lg-4 form-group">
										<div class="card border">
											<legend class="card-header">Групи</legend>
											<div class="col-sm-5">
												<label class="col-form-label" for="inputDefault">Марка</label>
												<input type="text" class="form-control" placeholder="Марка група" id="objName">
											</div>
											<div class="form-group col-sm-5">
												<label class="col-form-label" for="inputDefault">Модел</label>
												<input type="text" class="form-control" placeholder="Модел група" id="objName">
											</div>
										</div>
									</div>
									<div class="col-lg-4 form-group">
										<div class="card border">
											<legend class="card-header">Потербителски кодове</legend>
											<div class="form-group col-sm-5">
												<label class="col-form-label" for="inputDefault">Брой</label>
												<input type="text" class="form-control" id="objName">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4 form-group">
										<div class="card border-secondary">
											<legend class="card-header">Отговорно лице</legend>
											<div class="card-body">
												<div class=" col-sm-12">
													<label class="col-form-label" for="inputDefault">Име</label>
													<input type="text" class="form-control" placeholder="Име Презиме Фамилия" id="objName">
												</div>
												<div class=" col-sm-8">
													<label class="col-form-label" for="inputDefault">Тел:</label>
													<input type="text" class="form-control" placeholder="тел:" id="objName">
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 form-group">
										<div class="card border-secondary">
											<legend class="card-header">Обект</legend>
											<div class="col-sm-8">
												<label class="col-form-label" for="inputDefault">Име</label>
												<input type="text" class="form-control" placeholder="Име на обекта" id="objName">
											</div>
											<div class="col-sm-4 mb-3">
												<label class="col-form-label" for="inputDefault">ID</label>
												<input type="text" class="form-control" placeholder="ID на обекта" id="objName">
											</div>
										</div>
									</div>
				
								</div>-->
			</form>
		</div>
		<script>
			function initMap() {
				var divMap = document.getElementById('map');

				var map = new google.maps.Map(divMap, {
					center: {lat: 41.562945, lng: 23.2725755},
					zoom: 16,
					styles: [
						{"featureType": "all",
							"elementType": "labels",
							"stylers": [
								{"visibility": "off"}
							]
						},

//						{"featureType": "administrative", 
//							"elementType": "all", 
//							"stylers": [
//								{"visibility": "simplified"}, 
//								{"color": "#5b6571"}, 
//								{"lightness": "35"}]
//						},
//						
//						{"featureType": "administrative.neighborhood", 
//							"elementType": "all", 
//								"stylers": [{"visibility": "off"}]
//						},
//						
//						{"featureType": "landscape", "elementType": "all", "stylers": [{"visibility": "on"}, {"color": "#f3f4f4"}]
//						},
//						
//						{"featureType": "landscape.man_made", "elementType": "geometry", "stylers": [{"weight": 0.9}, {"visibility": "off"}]
//						},
//						
//						{"featureType": "poi.park", "elementType": "geometry.fill", "stylers": [{"visibility": "on"}, {"color": "#83cead"}]},

//						{"featureType": "road", "elementType": "all", "stylers": [{"visibility": "on"}, {"color": "#ffffff"}]},

						{"featureType": "road", "elementType": "labels", "stylers": [{"visibility": "on"}]
						},

//						{"featureType": "road.highway", "elementType": "all", "stylers": [{"visibility": "on"}, {"color": "#fee379"}]},

//						{"featureType": "road.highway", "elementType": "geometry", "stylers": [{"visibility": "on"}]},

//						{"featureType": "road.highway", "elementType": "labels", "stylers": [{"visibility": "off"}]},

//						{"featureType": "road.highway", "elementType": "labels.icon", "stylers": [{"visibility": "off"}]},

//						{"featureType": "road.highway.controlled_access", "elementType": "labels.icon", "stylers": [{"visibility": "off"}]},

//						{"featureType": "road.arterial", "elementType": "all", "stylers": [{"visibility": "simplified"}, {"color": "#ffffff"}]},

						{"featureType": "road.arterial", "elementType": "labels", "stylers": [{"visibility": "off"}]},
//						{"featureType": "road.arterial", "elementType": "labels.icon", "stylers": [{"visibility": "off"}]},

//						{"featureType": "water", "elementType": "all", "stylers": [{"visibility": "on"}, {"color": "#7fc8ed"}]
//						}
					]
				});
//				var marker = new google.maps.Marker({
//					position: new google.maps.LatLng(41.562945, 23.2725755),
//					map: map,
//					title: 'Yordan!'
//				});

				var mapLabel = new MapLabel({
					text: 'Test',
					position: new google.maps.LatLng(41.562945, 23.2725755),
					map: map,
					fontSize: 35,
					align: 'right'
				});
			}

		</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC46e-kbgkWJWSVadj7q-K8LwVbc2Hp8hc&callback=initMap"></script>
	</body>
</html>