body { 
	background-color: #ffffff;
	background-image: url('/images/bg-pattern.png');
	background-repeat: repeat;
	background-position: top left;
	background-attachment: scroll;
}

#map { 
	height: 500px;
}